@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-c-purple-50: hsl(260, 100%, 95%);
    --color-c-purple-300: hsl(264, 82%, 80%);
    --color-c-purple-500: hsl(263, 55%, 52%);

    --color-c-grey-100: hsl(214, 17%, 92%);
    --color-c-grey-200: hsl(0, 0%, 81%);
    --color-c-grey-400: hsl(224, 10%, 45%);
    --color-c-grey-500: hsl(217, 19%, 35%);
    --color-c-dark-blue: hsl(219, 29%, 14%);
    --color-c-black: hsl(0, 0%, 7%);
}

.testimonial {
    @apply p-7 flex flex-col gap-y-3 rounded-md shadow-2xl;
}

.testimonial header {
    @apply flex items-center text-xs gap-x-2 mb-2;
}

.testimonial header img {
    @apply rounded-full aspect-square w-8;
}

.author-name {
    @apply font-[600];
}

.testimonial h2 {
    @apply font-[600] text-lg/[1.4];
}

.testimonial > p {
    @apply text-[0.73rem];
}